* {
  padding: 0;
  margin: 0;
}
.image--class {
  height: 185px;
  width: 185px;
}
.image--container {
  display: flex;
  justify-content: space-between;
}
.image--1 {
  display: none;
}
.image--2 {
  display: none;
}
.image--3 {
  display: none;
}
